.card{
padding: 0px;

}

.row{
    padding: 20px 5% 0px 5%;
}

.innerContainer{
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}
button{
    border: 0;
    padding: 8px;
    border-radius: 10px;
}
.btn{
    color: black;
    border-radius: 10px;
}
.green{
    background-color:springgreen;
}
.yellow{
    background-color:yellow;
}
.blue{
    background-color:blue;
    color: white;
}
